# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: tox

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        linter:
          - lint
          - checkdoc
          - mypy

    steps:
      - uses: actions/checkout@v2

      - name: Setting up python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
          architecture: x64

      - name: Installing tox
        run: python -m pip install tox

      - name: tox ${{ matrix.linter }}
        run: tox
        env:
          TOXENV: ${{ matrix.linter }}

  tests:
    strategy:
      fail-fast: false

      matrix:
        include:
          - python-versions: 3.7
            toxenv: py37
            os: ubuntu-latest
          - python-versions: 3.8
            toxenv: py38
            os: ubuntu-latest
          - python-versions: 3.9
            toxenv: py39
            os: ubuntu-latest
          - python-versions: "3.10"
            toxenv: py310
            os: ubuntu-latest
          - python-versions: "3.11"
            toxenv: py310
            os: ubuntu-latest
          - python-versions: 3.7
            toxenv: py37
            os: macos-latest
          - python-versions: 3.8
            toxenv: py38
            os: macos-latest
          - python-versions: 3.9
            toxenv: py39
            os: macos-latest
          - python-versions: "3.10"
            toxenv: py310
            os: macos-latest
          - python-versions: "3.11"
            toxenv: py311
            os: macos-latest
          - python-versions: 3.7
            toxenv: py37
            os: windows-latest
          - python-versions: 3.8
            toxenv: py38
            os: windows-latest
          - python-versions: 3.9
            toxenv: py39
            os: windows-latest
          - python-versions: "3.10"
            toxenv: py310
            os: windows-latest
          - python-versions: "3.10"
            toxenv: readme
            os: windows-latest
          - python-versions: "3.11"
            toxenv: py311
            os: windows-latest
          - python-versions: "3.10"
            toxenv: readme
            os: macos-latest
          - python-versions: "3.10"
            toxenv: readme
            os: ubuntu-latest
          - python-versions: "3.11"
            toxenv: readme
            os: windows-latest
          - python-versions: "3.11"
            toxenv: readme
            os: macos-latest
          - python-versions: "3.11"
            toxenv: readme
            os: ubuntu-latest

    needs: lint
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Setting up python ${{ matrix.python-versions }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-versions }}
          architecture: x64

      - name: Creating a virtualenv python ${{ matrix.python-versions }}
        run: python -m pip install tox

      - name: tox
        run: tox
        env:
          COVERALLS_PARALLEL: 'true'
          COVERALLS_SERVICE_NAME: github
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  finish:
    needs:
      - tests
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
